name: CI

on:
  pull_request:
    branches:
      - main
      - develop
      - "feature/**"
  push:
    branches:
      - main
      - develop

jobs:
  test:
    name: Build & Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Erlang and Gleam
        uses: erlef/setup-beam@v1
        with:
          otp-version: "28"
          gleam-version: "1.14.0"
          rebar3-version: "3"

      - name: Download dependencies
        run: gleam deps download

      - name: Check code format
        run: gleam format --check src test

      - name: Build project
        run: gleam build

      - name: Run tests
        env:
          CI: "true"
        run: gleam test










